@media screen and (max-width: 768px){

/* заголовок страницы */
.service-name{
    margin-bottom: 5%;
    color: #1768AC;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}
/* стили для категорий */
.img-gategory-service{
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 10%;
    margin-bottom: 3%;
}
.p-category-service{
    font-size:12px;
    font-weight: bold;
    padding: 0px;
    margin: 0;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}
.category-service {
    display:flex;
    flex-direction: row;
    width: 100%;
    overflow-x:scroll ;
    height: 130px;
    }
.category-name-service{
    background-color: #1768AC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    height: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 3%;
}
.category-name-service:first-child{
    border-left: 2px solid black;
}
.category-name-service--active{
    background-color: #0e3a97;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    height: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 3%;
}
/* заголовок для категорий */
.div-card-service{
    display: flex;
    justify-content: center;
}
.p-card-service{
    font-size: 25px;
    font-weight: bold;
    color:#1768AC;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding: 5% 0% 2% 0%;
}
/* стили для одной карты */
.service-one-card{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}
.card-body-service{
    width: 100%;
    height: 100%;
    padding: 2% 1% 0% 3%;
    font-weight: 600;
    background-color: #e5f4fb89;
    color: #03256C;
}
.img-card-service{
    width: 100%; 
    height: 100%;
    margin: 0;
    object-fit: fill; 
    border-radius: 5px;
}
.card-descriptions-service{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.card-title-service{
    font-size: 18px;
    font-weight: 700;
    color: #03256C;
    margin: 0;
}
.card-body-count-service{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95px;
}
.card-subtitle-service{
    font-size: 12px;
    font-weight: 600;
}
.div-count-service{
    display: flex;
    justify-content: flex-end;
}
.btn-service{
    border: 1px rgb(23, 23, 23) solid ;   
    text-align: center;
    width: 100%; 
    height: 30px;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-color: #03256C ;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.btn-service:active{
    background-color: #1768AC ;
}
.btn-count{
    border-radius: 50px;
    font-size: 15px;
    margin: 0;     
    color:white;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: #03256C;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(23, 23, 23) solid ;   
}
.btn-count:active{
    background-color: #1768AC;  
}
.btn-primary:active{
    border: 1px rgb(23, 23, 23) solid ;   
    text-align: center; 
    height: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-color:#1768AC ;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
}
.count:active{
    border-radius: 50px;
    font-size: 12px;
    margin: 0;     
    color:white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color:#1768AC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(23, 23, 23) solid ;   
}
.count-service{
 font-size: 22px;
 margin-bottom: 0;
}
.price-service{
    font-size: 15px;
    margin-top: 3px;
    color: #03256C;
}
}

@media screen and (min-width: 768px)  and (max-width: 2400px) {
.service-name{
    margin-bottom: 5%;
    color: #1768AC;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}
/* стили для категорий */
.img-gategory-service{
    width: 50px;
    height: 50px;
    display: block;
    margin-top: 10%;
    margin-bottom: 3%;
}
.p-category-service{
    font-size:20px;
    font-weight: bold;
    padding: 0px;
    margin: 0;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}
.category-service {
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.category-name-service{
    background-color: #1768AC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 3%;
    width: 100%;
    height: 100%;
}
.category-name-service:first-child{
    border-left: 2px solid black;
}
.category-name-service--active{
    background-color: #0e3a97;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    height: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 3%;
}
/* заголовок для категорий */
.div-card-service{
    display: flex;
    justify-content: center;
}
.p-card-service{
    font-size: 45px;   
    font-weight: bold;
    color:#1768AC;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    padding: 5% 0% 2% 0%;
}
/* стили для одной карты */
.service-one-card{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}
.card-body-service{
    width: 100%;
    height: 100%;
    padding: 2% 1% 0% 3%;
    font-weight: 600;
    background-color: #e5f4fb89;
    color: #03256C;
}
.img-card-service{
    width: 100%; 
    height: 100%;
    margin: 0;
    object-fit: fill; 
    border-radius: 5px;
}
.card-descriptions-service{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.card-title-service{
    font-size: 28px;
    font-weight: 700;
    color: #03256C;
    margin: 0;
}
.card-body-count-service{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 135px;
}
.card-subtitle-service{
    font-size: 12px;
    font-weight: 600;
}
.div-count-service{
    display: flex;
    justify-content: flex-end;
}
.btn-service{
    border: 1px rgb(23, 23, 23) solid ;   
    text-align: center;
    width: 100%; 
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-color: #03256C ;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    font-weight: 600;
}
.btn-service:active{
    background-color: #1768AC ;
}
.btn-count{
    border-radius: 50px;
    font-size: 15px;
    margin: 0;     
    color:white;
    text-align: center;
    border-radius: 5px;
    background-color: #03256C;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(23, 23, 23) solid ; 
    width: 35px;
    height: 35px;  
}
.btn-count:active{
    background-color: #1768AC;  
}
.btn-primary{
    font-size: 25px;
}
.btn-primary:active{
    border: 1px rgb(23, 23, 23) solid ;   
    text-align: center; 
    height: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-color:#1768AC ;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
}
.count:active{
    border-radius: 50px;
    font-size: 12px;
    margin: 0;     
    color:white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color:#1768AC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(23, 23, 23) solid ;     
}
.count-service{
    font-size: 35px;
    margin-bottom: 2px;
}
}